*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
.container{
    padding: 0px 80px;
}
.header{
    align-items: center;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 50px 0px;
}
.home-page{
    background-image: url("../../public/imgs/Background.jpg");
    background-repeat: no-repeat;
    width: 100%;
}
.header-left{
    color: white;
    display: flex;
    gap: 15px;
}
.header-menu{
    cursor: pointer;
    font-size: 25px;
}
.home-nav h2{
    font-size: 3.4rem;
}
.home-nav{
    display: flex;
    flex-direction: column;
    gap:20px;
    padding: 50px 0px ;
    color: white;
    max-width: 450px;
    width: 100%;
}
.nav-block p{
    font-size: 10px;
}
.nav-text{
    font-size: 14px;
}
.nav-button p{
    font-size: 12px;
}
.nav-button{
    padding: 20px 40px ; 
    width: fit-content;
    background-color: #E8594E;
}
.home-search{
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: white;
}
.search-icon{
    font-size: 22px;
}
.home-search input{
    outline: none;
    font-size: 22px;
    border: none;
    width: 300px;
}


/*----cartTop----- */
.cart-container{
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 60px 0px;
}
.cart-text-top {
    width: 100%;
    max-width: 550px;
}
.cart-text-top h2{
    font-size: 3rem;
}
.cart-block{
    display: flex;
    gap: 20px;
}
.cart-img img{
    border-radius: 10px;
    height: 100%;
    width: 100%;
    max-width: 400px;
}
.cart-img{
    cursor: pointer;
    position: relative;
}
.cart-img:hover .cantent-after{
    opacity: 1 !important;
}

.cantent-after{
    width: 100%;
    max-width: 140px;
    transition: .4s;
    z-index: 1000;
    opacity: 0;
    position: absolute;
    left: 40px;
    bottom:80px;
    color: white;
}
.cart-img:hover::after{
    transition: .6s;
    border-radius: 10px;
    position: absolute;
    content: "";
    opacity: 0.4;
    background-color: #73AFBA;
    width: 100%;
    height: 100%;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
}
.cart-img::after{
    transition: .6s;
    border-radius: 10px;
    position: absolute;
    content: "";
    opacity: 0;
    background-color: #73AFBA;
    width: 100%;
    height: 100%;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
}


/* footer */
.footer-container{
    padding: 70px 0px ;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.footer-content{
    display: flex;
    flex-direction: column;
    gap: 45px;
}
.footer-content-text li{
    cursor: pointer;
}
.footer-content-text{
    display: flex;
    flex-direction: column;
    gap:7px;
    color: #959EA6;
}
.footer-content-text-item{
    width: fit-content;
    position: relative;
    font-weight: 700;
    color: #100E0B;
}
.footer-content-text-item::after{
    position: absolute;
    content: '';
    width: 60%;
    height: 1.5px;
    left: 0;
    bottom: -25px;
    background-color: #57A773;
}
.footer-content-input{
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
}
.footer-content-input input{
    padding: 10px 50px 10px 10px;
    width: 100%;
    max-width: 200px;
    height: 40px;
    outline: none;
    border-radius: 10px;
    border: 1px solid  #B3B3B3;
}

.icon-user{
    color: #100e0b80;
    position: absolute;
    top: 10px;
    right: 15px;
}
.footer-content p{
    cursor: pointer;
    text-align: center;
    background-color: #73AFBA;
    padding: 15px;
    font-size: 12px;
    color: white;
    transition: .4s;
    border-radius: 10px;
}
.footer-content p:hover{
    transition: .4s;
    background-color: #4f787fe7;
}


.footer-bottom{
    font-size: 14px;
    color: 
    #959EA6;
    border-top: 1px solid  #aeb8c1;;
    padding: 30px 80px;
    display: flex;
    justify-content: space-between;
}
.footer-bottom-left{
    display: flex;
    gap: 30px;
}

/* ----contentUser---- */
.content-container{

    color: white;
    display: flex;
    justify-content: space-between;

    background-image: url('../../public/imgs/Background.png');
}
.content-left{
    display: flex;
    flex-direction: column;
    gap: 35px;
    padding: 50px;
    justify-content: end;
    width: 100%;
    max-width: 400px;
}
.content-right{
    display: flex;
    flex-direction: column;
    gap: 60px;
    width: 100%;
    max-width: 450px;
    padding: 80px 50px;
    background-color: #3c4a51dd;
}
.content-block-left{
    display: flex;
    flex-direction: column;
    gap:50px;
}
.content-block-box{
    display: flex;
    gap: 20px;
}
.content-bock-box-row{
    display: flex;
    flex-direction: column;
    gap: 10px;
}